@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Roboto';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.letter{
  border: 1px solid white;
  height: 48px;
  display: inline-block;
  padding: 2px;
  margin: 5px;
  box-shadow:6px 2px 3px 0px white;
  font-size: 28px;
  width: 30px;
}

.letter:nth-child(5){
  margin-left: 15px;
}

.books-wrapper {
  display: flex;
}

.book-card {
  width: 150px;
  height: 200px;
  cursor: pointer;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  margin: 20px;

  .card-photo {
    max-width: 150px;
  }
}

.book__read-properties {
  border-top: 2px solid #a5a5a5;
  margin-top: 5px;
  padding-top: 20px;
}

.book__read-properties__date {
  margin-right: 7px !important;
}

.details {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 60vh;
  margin-top: 100px;
}

img {
  height: 100%;
  width: 100%;
  max-width: 50vw;
  object-fit: cover;
}